$header-side-padding: 42px;

.app-header {
  
  &.hide {
    display: none;
  }
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr;

    & :nth-child(2) {
      justify-self: center;
    }

    & :last-child {
      justify-self: flex-end;
    }
  }
  height: 80px;
  // justify-content: space-between;
  // position: fixed;
  // margin-bottom: 38px;
  // background-color: none;
  // right: 0;
  // left: 0;
  // top: 0;
  align-items: center; //for filter
  // padding: 0 $header-side-padding;
  box-shadow: 0 10px 10px -10px rgba(33, 35, 38, 0.1);

  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  // margin-bottom: 38px;
  button {
    height: 42px;
    width: 77px;
    background-color: white;
    border-radius: 21px;
    border: 1px solid #dddddd;
    .avatar {
      height: 80%;
      vertical-align: middle;
      position: relative;
      height: 32px;
      width: 32px;
      // margin-left: 12px;
      left: 5px;
      top: 2px;
    }
  }
  .hamburger {
    height: 16px;
    width: 16px;
    position: relative;
    top: 10px;
    margin-left: 12px;
  }
  .logo {
    height: 32px;
  }
  .nav {
    font-family: 'cereal-Medium';
    font-size: 0.875rem;

    position: absolute;
    // height: 260px;
    min-width: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    right: $header-side-padding;
    top: 70px;
    right: 80px;
    background-color: white;
    border-radius: 10px;
    z-index: 11;
    padding: 10px 0px;
    line-height: 42px;

    span {
      padding-left: 15px;
    }

    li:hover {
      background-color: rgb(245, 245, 245);
    }
  }

  .bottom-nav {
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: #ffffff;
    height: 65px;
    right: 0;
    left: 0;
    justify-content: center;
    gap: 30px;
    border-top: 1px solid rgb(221, 221, 221);
    line-height: 1.43;
    color: #484848;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      Helvetica Neue, sans-serif;
    justify-content: center;
    margin: 0px auto;
    z-index: 3;
    .nav-item {
      cursor: pointer;
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 10px;
      .text {
        font-size: 10px;
      }
      :hover {
        color: rgb(255, 56, 92);
      }
    }
    // max-width: 560px
    .nav-item ::before {
      margin-bottom: 2px;
    }
    .explore::before {
      font-size: 30px;
      content: '\f002';
      font-family: 'awesome-solid';
    }
    .wishlists::before {
      font-size: 30px;
      font-family: 'awesome-light';
      content: '\f004';
    }
    .nav-login::before {
      font-size: 30px;
      font-family: 'awesome-light';
      content: '\f2bd';
    }
  }
  .logo-container {
    color: #ff385c;
    cursor: pointer;
    width: fit-content;
  }
  .logo::before {
    font-size: 30px;
    content: '\f7e5';
    // content: '\f2bd';
    font-family: 'awesome-solid';
    // font-family: 'awesome-light';
  }
  .becomeHost {
    font-weight: 600;
    line-height: 18px;
    cursor: pointer;
    background: transparent;
    font-size: 14px;
    margin-right: 8px;

    &.explore {
      text-decoration: none;
      // &::before {
      //   font-family: 'awesome-light';
      //   font-size: 1.125rem;
      //   content: '\f0ac';
      // }
    }
  }





  &.filter-container{
    z-index: 10;
    background-color:inherit;
    // background-color:red;

  }
}
