$header-side-padding: 42px;

.app-header{
    height: 80px;
    justify-content: space-between;
    // position: fixed;
    margin-bottom: 38px;;
    background-color: white;
    right: 0;
    left: 0;
    top: 0;
    align-items: center; //for filter
    padding: 0 $header-side-padding;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // margin-bottom: 38px;
    button{
        height: 42px;
        width: 77px;
        background-color: white;
        border-radius: 21px;
        border: 1px solid #dddddd;
        .avatar{
            height: 80%;
            vertical-align: middle;
            position: relative;
            height: 32px;
            width: 32px;
            // margin-left: 12px;
            left: 5px;
            top: 2px;
        }
    }
    .hamburger{
        height: 16px;
        width: 16px;
        position: relative;
        top: 10px;
        margin-left: 12px;
    }
    .logo{
        height: 32px;
        
    }
    .nav{
        position: fixed;
        height: 260px;
        width: 240px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        right:$header-side-padding;
        top: 55px;
        background-color: white;
        border-radius: 21px;
        z-index: 2;
        padding: 21px;
        line-height: 42px;
    }

}



