$chat-height: 300px;
$chat-width: 260px;
$chat-padding: 25px;




.chat-app{
    height: calc($chat-height + 50px);
    .btn-open, .btn-close{
        height: 50px;
        border-bottom-left-radius:15px;
        border-top-left-radius: 15px;
        background-color: white;
        // width: 26px;


        border-style: none;
        padding: 9px;
        color: #606266;
        font-weight: 700;
    }
    .typer-msg{
        margin-bottom: 0;
        position: absolute;
        top: 217px;
    }
    
    .btn-open{
        box-shadow: rgba(0, 0, 0, 12%) 0px 6px 16px;
        position: fixed;
        right: 0;
        bottom: 100px;
        
    }
        .btn-close{
            right: 222px;
            bottom: 0px;
            position: absolute;
            border-right: 1px solid #F5F7FA;/*#DCDFE6*/
            width: 30px;
        }

    }
    .chat-title{
        font-weight: 700;
    }
.chat-main{
    height: $chat-height;
    // min-height: 100px;
    display: none;
    position: fixed;
            right: 0;
            bottom: 100px;
    border-bottom-left-radius:15px;
    border-top-left-radius: 15px;
    box-shadow: rgba(0, 0, 0, 12%) 0px 6px 16px;
    // margin-left: 50px;
    background-color: white;
    // margin-left: 50px;
    padding: $chat-padding;
    padding-left: 50px;
    
    width: $chat-width; /*only if open*/
    display: flex;
    flex-direction: column;
    color: #ff385c;
    li{
        list-style: none;
    }
    .chat-msgs{
        // background-color: #f0f0f0;
        padding: 5px;
        background-color: #F5F7FA;
        height: 155px;
        padding-bottom: 10px;
        overflow-y: scroll;
        color: black;
        min-height: 100px;
        margin-bottom: 21px;

    }

    .chat-header{
        margin:0;
    }
   
    input{
        height: 40px;
        border: 1px solid #DCDFE6;
        width: 185px;
        // width: calc($chat-width - $chat-padding - $chat-padding);
    } 
   
    button{
        background-color: #ff385c;
        color: white;
        border-radius: 0;
        border: 0;
    }
}
.chat-main.closed{
    // display: none;
    .chat-body{
    }

}
.chat-main.open{
    animation-name: slideInRight;
    animation-duration: 3s;
    animation-fill-mode: both;
    @keyframes slideInRight {
        0% {
        transform: translateX(120%);
        visibility: visible;
        }
        100% {
        transform: translateX(0);
        }
        
    }
}

.chat-main.closed {
    animation-name: slideOutRight;
    animation-duration: 3s;
    animation-fill-mode: both;
    }
    @keyframes slideOutRight {
    0% {
    transform: translateX(100%); /*TODO change this so it closes with animation*/
    }
    100% {
    visibility: hidden;
    transform: translateX(120%);
    }
    } 

