.back-office {
  display: flex;
  gap: 2rem;
  position: relative;
  margin-top: 2rem;

  @include for-mobile-layout {
    // background-color: orange;
    flex-direction: column;
    align-items: center;
  }

  @include for-narrow-layout {
    // background-color: yellow;
    flex-direction: column;
    align-items: center;
  }

  @include for-normal-layout {
    flex-direction: column;
    align-items: center;
  }

  @include for-wide-layout {
    // background-color: blue;
    flex-direction: row;
  }

  .host-profile {
    width: 20%;
    position: sticky;
    top: 0;
    margin-bottom: auto;
    margin-top: 1rem;
    min-height: 200px;
    @include for-mobile-layout {
      // background-color: orange;
      position: unset;
      width: 50%;
    }

    @include for-narrow-layout {
      // background-color: yellow;
      position: unset;
      width: 50%;
    }

    @include for-normal-layout {
      // background-color: green;
      position: unset;
      width: 50%;
    }

    @include for-wide-layout {
      // background-color: blue;
      position: sticky;
      width: 20%;
    }
  }

  .container {
    .tabs-nav {
      display: flex;
      gap: 3rem;
      > * {
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        padding: 0.5rem 1rem;

        &.active-tab::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 90px;
          height: 5px;
          background-color: $clr1;
        }
      }
    }
    // .host-order-list {
    //   grid-column: -1;
    // }
  }
}
.bottom-image {
  width: 100%;
}

.hide {
  display: none;
}
