.host-order-list {
  margin-top: 2rem;
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: $clr2;

    .host-order-item {
      border: 1px solid $clr4;
      border-radius: 15px;
      padding: 0.5rem 2rem;

      display: grid;
      grid-template-columns: 75px 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      align-items: center;
      .profile-pic {
        grid-row: span 2;
        height: 50px;
        width: 50px;
        // place-self: center;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        img {
          object-fit: contain;
          object-position: top;
          width: 100%;
        }
      }

      .user-name {
        font-family: 'cereal-Medium';
        font-size: 1.125rem;
        align-self: center;
        margin: 0;
      }

      .price {
        justify-self: flex-end;
        span {
          font-family: 'cereal-Medium';
        }
      }

      .order-details {
        grid-row: 2/3;
        grid-column: 2/3;
      }

      .order-panel {
        display: flex;
        justify-content: flex-end;
        & > * {
          cursor: pointer;
          background-color: white;
          border: 0;
          font-size: 1.125rem;
          padding: 0.5rem;

          &::before {
            font-family: 'awesome-light';
          }

          &:hover {
            color: $clr1;
          }

          & > * {
            cursor: pointer;
            background-color: white;
            border: 0;
            font-size: 1.125rem;
            padding: 0.5rem;

            &::before {
              font-family: 'awesome-light';
            }

            &:hover {
              color: $clr1;
            }
          }
        }

        .confirm {
          position: relative;

          &::before {
            content: '\f00c';
          }
        }
        .decline {
          &::before {
            content: '\f00d';
          }
        }
        .edit {
          &::before {
            content: '\f304';
          }
        }

        .order-status {
          .approved {
            color: #77dd76;
            border: 1px solid #77dd76;

            border-radius: 8px;
          }
          .declined {
            color: #ff6962;
            border: 1px solid #ff6962;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
