$clr-form-btn: #e31a5e;
$clt-txt-btn: white;
$clr-form-input-border: #b0b0b0;
$clr-form-text: #222222;

$form-border-radius: 10px;

.popup-form {
    // width: 571px;
    // height: 700px;
    padding: 25px;
    color: $clr-form-text;
    border: 1px solid $clr-form-input-border;
    // transform: translate(-50%, -50%);
    border-radius: $form-border-radius;
    z-index: 12 !important;
    background-color: white;

    .label-container {
        display: flex;
        flex-direction: column;
    }
    .input-container {
        cursor:text;
        height: 3.5rem;
        position: relative;
        box-shadow: rgb(176 ,176,176) 0px 0px 0px 1px  inset;
        // border: 1px solid rgb(176, 176, 176);
        border-radius: 0.5rem;
        padding: 26px 12px 10px;
        &.filled{
        box-shadow: black 0px 0px 0px 1px  inset;
        }
        &.focused{
            // border: 1.5px solid black;
        box-shadow: black 0px 0px 0px 2px  inset;
        }

        & .label-container {
            text-align:left;
            position: absolute;
            // left: 0;
            // top:50%;
            top: 20px;
            width: 100%;
            // height: 100%;
            // transform: translateY(-50%);
           
            & .label{
                color:    #717171;
                width: fit-content;
                // width: 100%;
                transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
                // transition: -ms-transform 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
                -webkit-transform 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
                transform 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s ;
                &.focused {
                // width: 100%;
                    font-size: 0.75rem;
                    transform: translateY(-10px);
                    // transform: translateY(-12px) scale(0.75);
                    // transform: translateY(-8px);
                }
    
            }
        }
        & input {
            font-family: Cereal-Light;
            display: block;
            width: 90%; //??
            font-size: 1rem;
            height: fit-content;
            // margin: 26px 12px 10px;
            border: 0;
            margin: 0;
            padding: 0;
            border-radius: 0;
        }
        // border: $clr-form-input-border;
        // border: 1px solid $clr-form-input-border;
    }
    // input{
    //     border: $clr-form-input-border;
    //     border: 1px solid $clr-form-input-border;
    // }
    .num-input {
        height: 55px;
        width: 60px;
        border-radius: $form-border-radius;
        margin-bottom: 18px;
    }
    button,
    .text-input {
        height: 55px;
        width: 100%;
        border-radius: $form-border-radius;
        margin-bottom: 18px;
    }
    button {
        background-color: $clr-form-btn;
        color: $clt-txt-btn;
        min-width: 200px;
        background-size: 200% 200%;
        transition: opacity 1.25s ease 0s;
        background-image: radial-gradient(
            circle at center center,
            rgb(255, 56, 92) 0%,
            rgb(230, 30, 77) 27.5%,
            rgb(227, 28, 95) 40%,
            rgb(215, 4, 102) 57.5%,
            rgb(189, 30, 89) 75%,
            rgb(189, 30, 89) 100%
        );
        background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
        border: none;
    }
}

.space-edit-add {
    .popup-form {
        width: 80%;
        margin: auto;
        .amenities,
        .type {
            flex: 1;
        }
    }
    button,
    input {
        max-width: 503px;
        // margin: auto;
    }
}

.login {
    // width: 571px;
    // height: 700px;
    // padding: 25px;
    // color: $clr-form-text;
    .close {
        position: absolute;
    }
    .form-toggle {
        width: fit-content;
        margin: 0 auto;
        color: rgb(215, 4, 102);
        text-align: center;
        p {
            margin: auto;
        }
    }
    text-align: center;
    border: 1px solid $clr-form-input-border;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    //for mob layout

   
    @include for-mobile-layout {
        width:100vw;
      }
      @include for-narrow-layout {
        width:100vw;

      }
      @include for-normal-layout {
        width: 571px;

      }
      @include for-wide-layout {
      }
  

    // z-index: 1;
    // background-color: white;
}
