.nav-filter{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    line-height: 18px;
    font-weight: 600;
    color: rgb(113, 113, 113);
    padding-left: 14px;
    padding-right: 14px;
    height: 52px;
    display: flex;
    align-items:baseline;
    .space-types{
        gap: 20px;
        *{
            // justify-content: space-around;
        }
    }
    
    // justify-content: space-around;
    // gap:5px;
}