.nav-filter{
    // font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

    line-height: 18px;
    // font-weight: 600;
    color: rgb(113, 113, 113);
    // padding: 40px;
    height: 52px;
    display: flex;
    align-items:baseline;
    .space-types{
        font-size: 0.875rem;
        font-family: 'cereal-Medium';
        // text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        gap: 20px;
        *{
            // justify-content: space-around;
        }
    }
    .buttons{
        display: flex;
        flex-wrap: nowrap;
        
        button{
            display: block;
        }
    }

   
    
    // justify-content: space-around;
    // gap:5px;
}