.space-reserve {

  @include for-mobile-layout {
   padding: 25px 0px;
   margin-bottom: 1rem;
  }
  @include for-narrow-layout {
  }
  @include for-normal-layout {
  padding: 25px;

  }
  @include for-wide-layout {
  }

  display: flex;
  flex-direction: column;
  // padding: 25px;
  border: 1px solid $clr4;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  position: sticky;
  margin-bottom: auto;
  justify-self: flex-end;

  top: 0;
  // width: 95%;

  @include for-mobile-layout {
  }
  @include for-narrow-layout {
  }
  @include for-normal-layout {
  width: 95%;

  }
  @include for-wide-layout {
  }


  .space-reserve-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price {
      span {
        font-family: 'cereal-Medium';
        font-size: 1.125rem;
      }
    }
    .rating-form {
      display: flex;
      gap: 0.4rem;
      font-size: 0.9rem;

      .star::before {
        right: 35px;
      }
    }
  }
  .space-reserve-form {
    display: flex;
    flex-direction: column;
    border-bottom: hidden;

    .options {
      border-radius: 8px;
      border: 1px solid $clr4;
      margin-bottom: 2rem;

      .date-picker {
        border-bottom: 1px solid $clr4;

        .el-input__inner {
          border: 0;
        }
      }
    }
  }

  .num-guests {
    &.el-input-number {
      width: 100%;
      border: 0;
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-family: 'cereal-Medium';
    border-top: 1px solid $clr4;
    padding-top: 0.5rem;
    // .title{}
    // .price{}
  }
}
