.space-filter{
    background: rgb(247, 247, 247);
    border:1px solid rgb(221, 221, 221);
     border-radius: 32px;
    //   z-index:0;
       width:fit-content;

       justify-self: center;

    cursor: pointer;
    color: $clr-form-text;
    font-family: 'cereal-Bold';
    text-overflow: ellipsis;
    white-space: nowrap;
    // overflow: hidden;

    
    // box-shadow:  0px 1px 2px ,rgba(0 ,0 ,0 , .8),  0px 4px 12px ,rgba(0, 0, 0, .5);

    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);

    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
//   box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);

    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);

    &:hover{
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 2px 10px 0px rgba(12, 8, 8, 0.15);
    }
    .search-icon-container{
        // position: relative;
        // left: 20px;
        background-color: $clr1;
        border-radius: 3rem;
        padding: 1rem;
        width: fit-content;
    }
    // form {
    .form {
        gap:5px;
        // border: 1px solid $clr-form-input-border;
    }
    .filter-div{
        & > input{
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        flex:1;
        // width: fit-content;
        padding: 0.875rem 1.5rem;
        border-radius: 3rem;
        // width: min-content
        // &:hover {
        //     background-color: rgb(241, 241, 241);
        // }
    }

    .filter-div-hover{
        &:hover {
            background-color: rgb(230, 230, 230);
        }
    }
    

    .clicked{
        background-color: #fff;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
        &:hover{
            background-color: inherit;
        }
    }
    .filter-div-button{
        padding: 0.5625rem;
        border-radius: 3rem;
    }



    label{
        display: block;
        font-size: 0.75rem;
        margin-bottom: 2px;
    } 
    // .text-filter:active{
    //     box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    // }
    .bind-text{
        font-family: 'cereal-Book';
        font-size: 0.875rem;
        &.clicked2{
           font-family: 'cereal-Bold';
        }
        // &::before{
        //     content:'Add guests';
        //     }
        // &:active ::before{
        //    content:none;
        // }
    }
    .guests-filter{
        display: flex;
        // font-family: 'cereal-Medium';
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

// position: relative;
    }
    .date-filter{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .reserve-date-filter{
        
        
         input{
            &:hover {
                cursor: pointer;
                // background-color: lawngreen;
            }
            // &::before{
            // content: 'Check in';
            // }
            // align-self: center;
           height: 70px;
            padding: 0;
            width:100%;
            // background-color: khaki;
        }
    }
            

    
    input{
        background-color: inherit;
        padding: 0;
        font-family: 'cereal-Bold';
        font-size: 0.875rem;
        border: 0px solid $clr-form-input-border;
        // border-radius: $form-border-radius;
        &::placeholder{
        font-family: 'cereal-Book';
        }
    }
    // button{
    //     // position: absolute;
    //     cursor: pointer;

    //     background-color: $clr-form-btn;
    //     color: $clt-txt-btn;
    // background-size: 200% 200%;
    // transition: opacity 1.25s ease 0s;
    // background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
    // background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
    // border:none;
    // }
    .start{
        display: flex;
        justify-content: space-between;
        align-items: center;
    //   width: 80vw;
      width: 50vw;
    //   height: 55px;
    }

    //   .date-picker-class{
          
    //   }
    //   .el-picker-panel.el-date-range-picker.el-popper.date-picker-class{
    //       color: red !important;
    //   }

    //   .filterOpenDown{
    //       position: absolute;
    //     //   background-color: #fff;
    //     background-color: brown;
    //       top: 200px;
    //   }
      
}

// position: absolute;
// top: 69px;
// left: 126px;
// z-index: 2003;