@font-face {
  font-family: 'awesome-light';
  src: url(~@/assets/fonts/font-awesome/fa-light-300.ttf);
}
@font-face {
  font-family: 'awesome-solid';
  src: url(~@/assets/fonts/font-awesome/fa-solid-900.ttf);
}
@font-face {
  font-family: 'cereal-regular';
  src: url(~@/assets/fonts/cereal/AirbnbCerealLight.ttf);
}
